body {
    background-image: url("images/bg.png");
}

.box {
    position: fixed;
    left: 28%;
    top:28%;
}

.wrapper {
    position: absolute;
    float:inline-start;
}

h1 {
    color: white;
    position:absolute;
    top: 30px;
    left: 50px;
    width: 500px;
}

.formular {
    position: relative;
    text-align: left;
    top: 100px;
    left: 50px;
    color: white;
}

.name {
    width: 150px;
    margin-bottom: 15px;
}

.nachricht {
    width: 250px;
    height: 60px;
    margin-bottom: 15px;
}

.radio {
    border: none;
    margin-left: -10px;
    margin-top: -20px;
    margin-bottom: 15px;
}